.container {
  color: var(--white10);
  position: fixed;
  top: 0px;
  background-image: linear-gradient(to bottom, var(--gradient-stops));

  --gradient-from: var(--black);
  --gradient-stops: var(--gradient-from), var(--gradient-to, rgba(0, 0, 0, 0));
  width: 100%;
  z-index: 50;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  justify-content: space-around;
}

.logoLink {
  font-weight: 500;
  font-size: 2rem;
  color: var(--white10);
}

.logoWrapper {
  color: var(--red);
  width: 15rem;
}

.navFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems {
  display: flex;
  margin-right: 1.5rem /* 24px */;
  font-size: 1rem;
  list-style: none;
}

.navItem {
  font-weight: 600;
  cursor: pointer;
  margin: 0 0.5rem /* 12px */;
}
.navItem:hover {
  color: var(--red);
}

.leftNavContainer {
  margin: 0 2rem 0 auto;
  color: var(--white);
}

.userBtn {
  font-size: 1rem;
}

.icon {
  opacity: 0;
}
.userBtn:hover > .icon {
  opacity: 1;
}

.navDropdown {
  position: absolute;
  margin: 1rem auto;
  padding: 0.2rem 0.5rem;
  background-color: var(--black50);
  border-width: 1px;
  text-align: center;
  color: var(--white);
  border-radius: 0.25rem;
  border-color: var(--blue);
  box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow30);
}

.linkName {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  display: block;
  padding: 0.3rem 0.8rem;
  font-size: 1rem /* 16px */;
  line-height: 1.25rem /* 20px */;
  border-radius: 0.25rem /* 4px */;
  cursor: pointer;
}

.linkName:hover {
  color: var(--red);
}

.lineWrapper {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 1rem 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .logoWrapper {
    width: 100%;
  }

  .logoLink {
    font-size: 1.5rem;
  }

  .navFlex {
    width: 100%;
  }
  .navItems {
    font-size: 0.8rem;
  }
  .userBtn {
    font-size: 0.7rem;
  }
  .leftNavContainer {
    margin: 0 1rem 0 auto;
  }
  .icon {
    font-size: 0.5rem;
  }
  .linkName {
    font-size: 0.7rem;
  }

  .navDropdown {
    margin: 0.2rem auto;
    padding: 0.1rem 0.3rem;
  }
}
