.modal {
  position: absolute;
  top: 10%;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.25rem;
  width: 800px;
  outline: none;
  border-radius: 4px;
  background-color: var(--black40);
  box-shadow: 2px 2px 8px 0px #202020;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.videoPlayer {
  border-radius: 2%;
  box-shadow: 1px 1px 10px 0px var(--red10);
}

.modalBody {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;
  padding: 1rem 1.5rem;
  margin: 1rem 1.5rem;
}

.title {
  color: var(--white30);
}

.publishTime {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  margin: 1rem auto;
  color: var(--green10);
}

.description {
  margin: 0.75rem auto;
  font-weight: 100;
  font-size: 0.9rem;
    line-height: 1.2rem;
  font-family:Arial, Helvetica, sans-serif;
  color: var(--white10);
  height: 30vh /* 208px */;
  overflow-y: hidden;
  overflow-y: scroll;
}

.subDetail {
  font-size: 0.9rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  margin: 0 auto 1rem auto;
  overflow-wrap: break-word;
}

.subDetailKey {
  color: var(--gray10);
}

.subDetailText {
  color: var(--white30);
}

@media (min-width: 1024px) {
  .modal {
    top: 10%;
    bottom: 40px;
    width: 50%;
  }
}

/** LikeDislike */

.likeDislikeBtnWrapper {
  position: absolute;
  display: flex;
  top: 20%;
  padding: 0 1rem;
}

.btnWrapper {
  display: flex;
  border: 2px solid var(--white10);
  background-color: var(--gray40);
  border-radius: 9999px;
  padding: 0.5rem /* 8px */;
  justify-content: center;
}